.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E1D1E;
    position: fixed;
    width: 100%;
    color: white;
    text-align: 30px;
    margin-top: auto;
    height: 50px;
    position: absolute;
    
}

.partenfooter{
    padding-top: 20px;
}