.body {
    margin-top: 0px;
    margin-left: 0px;
    width: 98.5vw;
    height: 97.5vh;
    background: #0000004b 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    position: relative;
}
.main-block1 {
    width: 368px;
    height: 391px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    margin: auto;
    margin-right: 420px;
    padding-right: 99px;
    position: absolute;
    top: 125px;
    left: 300px;

    .login-img {
        padding-top: 45px;
        padding-left: 48px;
        opacity: 1;
        height: 254px;
        width: 262px;
        border-radius: 50%;
    }
    .tagline {
        font-family: Roboto;
        font-weight: 600;
        margin-left: 90px;
        margin-top: 20px;
    }
}
.main-details {
    top: 110px;
    left: 658px;
    width: 234px;
    height: 365px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 28px 70px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login {
            font-family: Roboto;
            font-weight: 900;
            font-size: 21px;
            color: #878787;
        }
        .signup {
            font-family: Roboto;
            font-weight: 900;
            font-size: 21px;
        }
        .links{
            text-decoration: none;
        }
    }

    .or-row {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Roboto;
        font-weight: 900;
        .line {
            height: 1px;
            width: 30px;
            background-color: #b4b4b4;
            padding: 0px 13px;
            margin: 0px 32px;
        }
    }

    .link-row {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        .facebook {
            display: flex;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            background: #4266b2;
            color: #ffffff;
            height: 28px;
            width: 84px;
            padding-top: 7px;
        }
        .google {
            display: flex;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            background: #dadada;
            color: #302f2f;
            height: 28px;
            width: 84px;
            padding-top: 7px;
        }
    }

    .row-underline {
        height: 5px;
        margin-top: 2px;
        padding-left: 188px;
        

        .login-block {
            background-color: #a03037;
            height: 4px;
            width: 22px;
            border-radius: 4px;
        }
    }

    .input-row {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .label {
            font-family: ROBOTO;
            font-size: 10px;
        }

        .input {
            border-color: #b4b4b4;
            border-width: 1px;
            height: 25px;
            border-style: solid;
            border-radius: 2px;
        }

        .forget {
            padding-top: 2px;
            direction: rtl;
            font-family: ROBOTO;
            font-size: 10px;
            color: #b4b4b4;
        }
    }

    .login-button {
        width: 100%;
        height: 34px;
        margin-top: 31px;
        background: #a03037;
        color: #ffffff;
        font-family: Roboto;
        border: 1px solid;
        border-radius: 3px;
    }

    .invalid{
        font-family: roboto;
        font-size: small;
        color:rgb(255, 75, 75);
    }
}

.forValidation{
    color: red;
    font-size: 8px;
}
