<body class="body">
    
    <div class="main-block1">
        <img class="login-img" src="../../../../assets/images/login_cart.png" alt="">
        <div class="tagline">ONLINE BOOK SHOPPING</div>
    </div>
    <div class="main-details">
        <div class="row">
            <div class="login-signup">
                LOGIN
            </div>
            <div class="login-signup">
                SIGNUP
            </div>
        </div>
        <div class="row-underline">
            <div class="login-block"></div>
            <div class="signin-block"></div>
        </div>
        <div class="email-password-row">
            <label class="label">Email Id</label>
            <input class="input" type="email"> 
        </div>
        <div class="email-password-row">
            <label class="label">Password</label>
            <input class="input" type="password">
            <div class="forget">Forget Password</div>
        </div>
        <div class="row">
            <button class="login-button">Login</button>
        </div>
        <div class="or-row">
            <div class="line"></div>
            <div class="or">OR</div>
            <div class="line"></div>
        </div>
        <div class="link-row">
            <div class="facebook">facebook</div>
            <div class="google">Google</div>
        </div>
    </div>
</body>
