<app-header-search></app-header-search>
<div>
    <div class="main-container">
        <div>
            <span class="h1">Home /</span>
            <span class="h2"> My Wishlist</span>
            <div class="card">
                <mat-card class="card-main">
                    <mat-card class="card2">
                        <h3 class="head">My Wishlist (2)</h3>
                    </mat-card>
                    <div class="cartdetails" style="margin-left: 2%;" fxLayout="row" fxLayoutAlign="start start">
                        <div class="book1">
                            <img class="bookimg" src="assets/images/Image 11@2x.png" />
                            <div>
                                <div class="bookdetails">

                                    <div class="booktitle" style="word-wrap: break-word;">
                                        Don't Make Me Think
                                    </div>
                                    <mat-icon class="d1">delete</mat-icon>

                                    <div class="sub" style="word-wrap: break-word;">
                                        by Steve krug
                                    </div>
                                    <div class="price" style="word-wrap: break-word;">
                                        Rs. 1500
                                    </div>

                                </div>
                                <div class="book1">
                                    <img class="bookimg" src="\assets\images\Image 36@2x.png" />
                                    <div>
                                        <div class="bookdetails">

                                            <div class="booktitle" style="word-wrap: break-word;">
                                                React Material-Ui
                                            </div>
                                            <mat-icon class="d1">delete</mat-icon>

                                            <div class="sub" style="word-wrap: break-word;">
                                                by Cook book
                                            </div>
                                            <div class="price" style="word-wrap: break-word;">
                                                Rs. 780
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <app-footer></app-footer>