<app-header></app-header>
<div class="container-center">
    <h1 class="heading">Forget your password?</h1>
    <br>
    <mat-card class="dashbord">
        <mat-card-subtitle class="subtitle">Enter your email address and we'll send you a link to reset your Password</mat-card-subtitle>
        <form>
            <mat-form-field class="input-email" appearance="fill">
                <h3>Email Id</h3>
                <input type="email" matInput="emailFormControl" placeholder="Ex. abc@gmail.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <button class="reset" type="submit" click=onSubmit()>Reset your Password</button>
            <br>
            <button mat-button disabled class="create" type="submit">CREATE ACCOUNT</button>

        </form>
    </mat-card>
</div>