.container-center {
    position: absolute;
    left: 36%;
    top: 30%;
    width: auto;
    height: auto;
    bottom: 60%;
}

.heading {
    margin-left: 15%;
    font-size: xx-large;
    font-style: normal;
    font-display: relative;
}

.subtitle {
    font-size: large;
    margin-top: 3%;
}

.dashbord {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    width: 424px;
    height: 300px;
}

.input-email {
    margin-left: 10%;
    width: 300px;
}

.email {
    width: 300px;
}

.reset {
    background-color: #a03037;
    border-radius: 5px;
    text-decoration-color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10%;
    color: whitesmoke;
    width: 320px;
    height: 35px;
}

.create {
    padding: 30px;
    padding-left: 5px;
    margin-top: 5%;
    width: 420px;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}