<app-header></app-header>
<div class="container-center">
    <h1 class="head">Forget your password?</h1>
    <div class="dashbord">
        <h3 class="subtitle">Enter your email address and we'll send you a link to reset your Password</h3>
        <form>
            <form appearance="fill">
                <h6 class="name">Email-Id</h6>
                <input class="input-email" type="email" matInput="emailFormControl" placeholder="Ex. abc@gmail.com">
            </form>
            <button class="reset" type="submit" click=onSubmit()>Reset your Password</button>
        </form>
        <button class="create" type="submit">CREATE ACCOUNT</button>
    </div>
</div>