<app-header></app-header>
<div class="container-center">
    <h1 class="head">Forget your password?</h1>
    <div class="dashbord">
        <h3 class="subtitle">Enter your email address and we'll send you a link to reset your Password</h3>

        <form appearance="fill" #userForm="ngForm" novalidate>
            <h6 class="name">Email-Id</h6>
            <input class="input-email" type="email" matInput="passwordFormControl" placeholder="Ex. abc@gmail.com"
                name="emailId" ngModel #emailId="ngModel">
        </form>
        <button class="reset" type="submit" (click)="onSubmit(userForm)">Reset your Password</button>

        <a class="links" routerLink="/signup" routerLinkActive="True">
            <button class="create" type="submit">CREATE ACCOUNT</button>
        </a>
    </div>
</div>