<!-- <app-header-search></app-header-search> -->

<div class="body">
    <div class="container">
        <div class="cart-book">
            <div>
                <img class="img" src="../../../../assets/images/Image 11.png">
            </div>
            <div class="book-info">
                <div class="book-name"> Don't Make Me Think</div>
                <div class="author">by: Steve Krug</div>
                <div class="price">
                    <div class="book-price">Rs.1500</div>
                    <div class="discount-price">Rs.2000</div>
                </div>
            </div>
            <div class="order-placed">
                Order Placed On 21 May 2020 </div>
        </div>
    </div>
</div>



<!-- <app-footer></app-footer> -->