<app-header-search></app-header-search>
<div class="main-container">
    <div>
        <span  class="home" (click)="onClick()" [routerLink]="['']">Home/</span>
        <span  class="cart" (click)="onClick()" [routerLink]="['']">My Cart</span>
    </div>
    <mat-card class="card1">
        <div>
            <span class="carttitle">My Cart(1)</span>
            <div class="dropdown">
                <button class="dropbtn"> <mat-icon class="icon"> location_on </mat-icon>Use Current Location</button>
                                
            </div>

            <div>
                <div class="book1">
                    <img class="bookimg" src="assets/images/Image 11@2x.png" />
                    <div>
                        <div class="bookdetails">

                            <div class="booktitle">
                                Don't Make Me Think
                            </div>
                            <div class="author">
                                by Steve krug
                            </div>
                            <div class="price">
                                Rs. 1500
                                <div class="marked"><s>Rs.2000</s></div>
                            </div>

                            <div class="buttons">
                                <button class="circle" (click)="null">-</button>
                                <button class="square" (click)="null">1</button>
                                <button class="circle" (click)="null">+</button>
                                <span class="remove" (click)="remove()">Remove</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="card2">
        <div class="info">
            <span class=".addr-order-title">Address Details</span>
        </div>
    </mat-card>
    <mat-card class="card2">
        <div class="info">
            <span class=".addr-order-title">Order Summary</span>
        </div>       
    </mat-card>
    <!--<app-footer></app-footer>-->
</div>
