
.header {
    height: 60px;
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .image {
    margin-left: 130px;
  
    
  }
  .bookstore{
    margin-left: 7px;
    color:white;
    font-size: 22px;
    font-family: Roboto;
  }
  .search{
    margin-left: 136px;
    color:white;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 0px;
    width: 490px;
    height: 33px;
    border-radius:3px;
    border-width: 0ch;
  }
  .row-head{
    display: flex;
    align-items: center;
    margin-top: -9px;
    padding-top: 10px;
  }
  .person{
    display: flex;
    flex-direction: column;
    margin-left: 255px;
    color: white;
    .mat-icon{
      margin-left:5px;
      font-size: 20px;
    }
  }
  .cart{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
    .mat-icon{
    
      font-size: 20px;
    }
  }
  .label{
    font-family:Roboto;
    font-size: 10px;
  }

  .new-menu{
    position:absolute;
    content: "";
    top: 120px;
    left: 30px;
    
  }